$utilities: (
  "Spacing": (
    responsive: true,
    class: p,
    property: padding,
    values: (
      6: 10rem,
      7: 15rem,
      19: toRem(19px),
      30:30px,
    ),
  ),
  "Spacing-px": (
    responsive: true,
    class: px,
    property: padding,
    values: (
      6: toRem(10px),
    ),
  ),
  "custom-ps": (
    responsive: true,
    class: c-ps,
    property: padding-left,
    values: (
      81: toRem(81px),
    ),
  ),
  "Spacing-mt": (
    responsive: true,
    class: mt,
    property: margin-top,
    values: (
      30: toRem(30px),
      65: toRem(60px),
      80: toRem(80px),
      90: toRem(90px),
      70: toRem(70px),
      25: toRem(25px),
      20: toRem(20px),
    ),
  ),
  "Spacing-ms": (
    responsive: true,
    class: ms,
    property: margin-left,
    values: (
      65: toRem(66px),
      28: toRem(28px),
    ),
  ),
  "height": (
    property: height,
    class: h,
    values: (
      20: toRem(66px),
      auto: auto,
      40:40px,
      100:100%,
    ),
  ),
  "width": (
    property: width,
    responsive: true,
    class: w,
    values: (
      100: 100%,
      100-n65px: calc(100% - toRem(65px)),
      nav: toRem(66px),
      nav-md: toRem(50px),
      auto: auto,
    ),
  ),
  "custom-width": (
    responsive: true,
    property: width,
    class: w,
    values: (
      7px: toRem(7px),
      10px: toRem(10px),
      d7rem: 0.7rem,
      13px: toRem(13px),
      18px: toRem(18px),
      22px: toRem(22px),
      23px: toRem(23px),
      31px: toRem(31px),
      32px: toRem(32px),
      34px: toRem(34px),
      40px: toRem(40px),
      41px: toRem(41px),
      45px: toRem(45px),
      55px: toRem(55px),
      65px: toRem(65px),
      300px: toRem(300px),
      340px: toRem(340px),
      400px: toRem(400px),
      450px: toRem(450px),
      500px: toRem(500px),
      max-content: max-content,
      auto: auto,
      50: 50%,
      110: 110%,
      40:40%,
      45:45%,
      35:35%,
    ),
  ),
  "custom-height": (
    responsive: true,
    property: height,
    class: h,
    values: (
      7px: toRem(7px),
      10px: toRem(10px),
      d7rem: 0.7rem,
      18px: toRem(18px),
      22px: toRem(22px),
      31px: toRem(31px),
      32px: toRem(32px),
      40px: toRem(40px),
      45px: toRem(45px),
      52px: toRem(52px),
      66px: toRem(66px),
      max-content: max-content,
      auto: auto,
      60: 60%,
      100: 100%,
      110: 110%,
      80vh: 90vh,
      fit: calc(100vh - toRem(66px)),
    ),
  ),
  "custom-margin": (
    responsive: true,
    property: margin,
    class: m,
    values: (
      16px: toRem(16px),
    ),
  ),
  "custom-margin-top": (
    responsive: true,
    property: margin-top,
    class: mt,
    values: (
      26px: toRem(26px),
      66px: toRem(66px),
      55px: toRem(55px),
      28px: toRem(28px),
    ),
  ),
  "custom-margin-bottom": (
    responsive: true,
    property: margin-bottom,
    class: mb,
    values: (
      0px: toRem(0px),
      20px: toRem(20px),
      22px: toRem(22px),
      24px: toRem(24px),
      26px: toRem(26px),
      30px: toRem(30px),
      38px: toRem(38px),
      40px: toRem(40px),
      15px: toRem(15px),
    ),
  ),
  "custom-margin-start": (
    responsive: true,
    property: margin-left,
    class: ms,
    values: (
      35px: toRem(35px),
      // n35px: toRem(-35px),
      50px: toRem(50px),
      65px: toRem(65px),
      75px: toRem(75px),
      25px: toRem(25px),
    ),
  ),
  "custom-margin-end": (
    responsive: true,
    property: margin-right,
    class: me,
    values: (
      35px: toRem(35px),
      16px: toRem(16px),
      10px: toRem(10px),
    ),
  ),
  "custom-margin-right": (
    responsive: true,
    property: margin-right,
    class: me,
    values: (
      30px: toRem(30px),
    ),
  ),
  "custom-padding": (
    responsive: true,
    property: padding,
    class: p,
    values: (
      8px: toRem(8px),
      10px: toRem(10px),
      12px: toRem(12px),
      16px: toRem(16px),
      20px: toRem(20px),
      23px: toRem(23px),
      35px: toRem(35px),
      19px: toRem(19px),
      21px: toRem(21px),
      25px: toRem(25px),
      7px: toRem(7px),
      5px: toRem(5px),
    ),
  ),
  "custom-padding-top": (
    responsive: true,
    property: padding-top,
    class: pt,
    values: (
      10px: toRem(10px),
      13px: toRem(13px),
      18px: toRem(18px),
      20px: toRem(20px),
      23px: toRem(23px),
      27px: toRem(27px),
      28px: toRem(28px),
      25px: toRem(25px),
      30px: toRem(30px),
      0px: toRem(0px),
      5px: toRem(5px),
      66px:66px,
    ),
  ),
  "custom-padding-bottom": (
    responsive: true,
    property: padding-bottom,
    class: pb,
    values: (
      10px: toRem(10px),
      13px: toRem(13px),
      18px: toRem(18px),
      20px: toRem(20px),
      24px: toRem(24px),
      25px: toRem(25px),
      30px: toRem(30px),
      37px: toRem(37px),
      40px: toRem(40px),
      80px: toRem(80px),
      0px: toRem(0px),
      5px: toRem(5px),
    ),
  ),
  "custom-padding-start": (
    responsive: true,
    property: padding-left,
    class: ps,
    values: (
      10px: toRem(10px),
      16px: toRem(16px),
      13px: toRem(13px),
      18px: toRem(18px),
      20px: toRem(20px),
      26px: toRem(26px),
      23px: toRem(23px),
      35px: toRem(35px),
      25px: toRem(25px),
      30px: toRem(30px),
      66px:66px,
    ),
  ),
  "custom-padding-end": (
    responsive: true,
    property: padding-right,
    class: pe,
    values: (
      10px: toRem(10px),
      16px: toRem(16px),
      13px: toRem(13px),
      18px: toRem(18px),
      20px: toRem(20px),
      23px: toRem(23px),
      25px: toRem(25px),
      35px: toRem(35px),
      30px: toRem(30px),
      50px: toRem(50px),
    ),
  ),
  "custom-padding-inline": (
    responsive: true,
    property: padding-inline,
    class: px,
    values: (
      8px: toRem(8px),
      10px: toRem(10px),
      13px: toRem(13px),
      17px: toRem(17px),
      20px: toRem(20px),
      25px: toRem(25px),
      26px: toRem(26px),
      30px: toRem(30px),
      31px: toRem(31px),
    ),
  ),
  "custom-padding-block": (
    responsive: true,
    property: padding-block,
    class: py,
    values: (
      4px: toRem(4px),
      10px: toRem(10px),
      12px: 0.7rem,
      14px: toRem(14px),
      16px: toRem(16px),
      18px: toRem(18px),
      22px: toRem(22px),
      23px: toRem(23px),
      25px: toRem(25px),
      30px: toRem(30px),
      20px: toRem(20px),
    ),
  ),
  "custom-gap": (
    responsive: true,
    property: gap,
    class: gap,
    values: (
      0: 0,
      9px: toRem(9px),
      10px: toRem(10px),
      11px: toRem(11px),
      13px: toRem(13px),
      15px: toRem(15px),
      16px: toRem(16px),
      18px: toRem(18px),
      20px: toRem(20px),
      21px: toRem(21px),
      22px: toRem(22px),
      24px: toRem(24px),
      26px: toRem(26px),
      30px: toRem(30px),
      37px: toRem(37px),
      48px: toRem(48px),
      57px: toRem(57px),
      66px: toRem(66px),
      98px: toRem(98px),
      77px: toRem(77px),
    ),
  ),
  "custom-opacity": (
    responsive: true,
    property: opacity,
    class: o,
    values: (
      16: 16%,
      17: 17%,
      50: 50%,
      68: 68%,
      85: 85%,
    ),
  ),
  "custom-opacity-hover": (
    responsive: true,
    property: opacity,
    state: hover,
    class: o,
    values: (
      85: 85%,
    ),
  ),
  "custom-font-size": (
    responsive: true,
    property: font-size,
    class: fs,
    values: (
      8px: toRem(8px),
      9px: toRem(9px),
      10px: toRem(10px),
      11px: toRem(11px),
      12px: toRem(12px),
      13px: toRem(13px),
      14px: toRem(14px),
      15px: toRem(15px),
      16px: toRem(16px),
      17px: toRem(17px),
      18px: toRem(18px),
      19px: toRem(19px),
      20px: toRem(20px),
      21px: toRem(21px),
      22px: toRem(22px),
      23px: toRem(23px),
      24px: toRem(24px),
      25px: toRem(25px),
      30px: toRem(30px),
    ),
  ),
  "custom-font-weight": (
    responsive: true,
    property: font-weight,
    class: fw,
    values: (
      medium: 500,
      bolder:600,
    ),
  ),
  "custom-white-space": (
    responsive: true,
    property: white-space,
    class: ws,
    values: (
      nowrap: nowrap,
    ),
  ),
  "custom-top": (
    responsive: true,
    property: top,
    class: top,
    values: (
      n10px: toRem(-10px),
      70px: toRem(70px),
    ),
  ),
  "custom-bottom": (
    responsive: true,
    property: bottom,
    class: bottom,
    values: (
      n10px: toRem(-10px),
      20px: toRem(20px),
    ),
  ),
  "custom-start": (
    responsive: true,
    property: left,
    class: start,
    values: (
      n36px: toRem(-36px),
      n24px: toRem(-24px),
      n10px: toRem(-10px),
      10px: toRem(10px),
      30px: toRem(30px),
      512px: toRem(512px),
    ),
  ),
  "custom-end": (
    responsive: true,
    property: right,
    class: end,
    values: (
      n10px: toRem(-10px),
      25px: toRem(25px),
    ),
  ),
  "custom-z-index": (
    responsive: true,
    property: z-index,
    class: zindex,
    values: (
      2: 2,
    ),
  ),
  "custom-cursor": (
    responsive: true,
    property: cursor,
    class: cursor,
    values: (
      pointer: pointer,
    ),
  ),
  "custom-bg-hover": (
    responsive: true,
    property: background-color,
    class: bg,
    state: hover,
    values: (
      white: $white,
      lavender: $lavender,
      white-azure: $white-azure,
      blue-active: $blue-active,
      transparent: $transparent,
      blue-lotus: $blue-lotus,
      ghost-white-alt: $ghost-white-alt,
      purple-light: $purple-light,
      platinum-lavender:$platinum-lavender,
      sharp:$harp,
      original-grey:$original-gray,
      seaShell:$seashell,
      blue-lite-call-flow:$blue-light-call-flow,
      pattens-white:$pattens-white,
      chat-blue:$chat-blue,
      lavender-web:$lavender-web,
      badge-grey:$badge-grey,
      tropical-blue:$tropical-blue,
      green-torquoise:$green-torquoise,
      cyan-blue:$cyan-blue,
      black:$black,
      pattens-blue:$pattens-blue,
      greenish-grey:$greenish-grey,
      titan-water:$titan-water,
      melrose:$melrose,
      magnolia-smoke:$magnolia-smoke,
      lightGray4:$lightGray4,
      light-orange-yellow:$light-orange-yellow,
      light-hey-yellow:$light-hey-yellow,
      uranian-blue:$uranian-blue,
      maximum-red:$fire-engine,
      alice-blue:$aqua-squeeze,
      lavender-mist:$lavender-mist,
      alloy-orange:$alloy-orange,
      peach:$peach,
      shelduck-blue:$shelduck-blue,
      light-gray:$light-gray,
      blanched-almond:$blanched-almond,
      input-gray:$input-gray,
      beau-blue:$beau-blue,
      bisque:$bisque,
      pale-aqua:$pale-aqua,
      dark-green-dark:$dark-green-dark,
      dutch-white:$dutch-white,
      golden-ochre:$golden-ochre,
      alice-blue-two:$alice-blue-two,
      sea-foam-green:$sea-foam-green,
      aero-blue:$aero-blue,
      granny-smith-apple:$granny-smith-apple,
      cool-mint:$cool-mint,
      light-sky-blue:$light-sky-blue,
      misty-ros:$misty-ros,
      Light-Salmon-Pink:$Light-Salmon-Pink,
      alice-blue-three:$alice-blue-three,
    // ############## call flow component colors ########################
    Voicemail-icon:$Voicemail-icon,
    Voicemail-bg:$Voicemail-bg,

Connect-icon:$Connect-icon,
Connect-bg:$Connect-bg,

Email-icon:$Email-icon,
Email-bg:$Email-bg,

CallerID-icon:$CallerID-icon,
CallerID-bg:$CallerID-bg,

Shortcut-icon:$Shortcut-icon,
Shortcut-bg:$Shortcut-bg,

GetValue-icon:$GetValue-icon,
GetValue-bg:$GetValue-bg,

Passtrugh-icon:$Passtrugh-icon,
Passtrugh-bg:$Passtrugh-bg,

CallerList-icon:$CallerList-icon,
CallerList-bg:$CallerList-bg,

SMS-icon:$SMS-icon,
SMS-bg:$SMS-bg,

Callback-icon:$Callback-icon,
Callback-bg:$Callback-bg,

GoToFlow-icon:$GoToFlow-icon,
GoToFlow-bg:$GoToFlow-bg,

Queue-icon:$Queue-icon,
Queue-bg:$Queue-bg,
    // ############## call flow component colors ########################

    ),
  ),
  "custom-color":(
    responsive:true,
    property:color,
    class:color,
    state:hover,
    values:(
      blue-lotus-new:$blue-lotus-new,
      s-green :$s-green,
      blue-active:$blue-active,
      seaShell:$seashell,
      blue:$blue,
      blueberry:$blueberry,
      green:$green,
      whatsapp-green:$whatsapp-green,
      contrast-blue:$contrast-blue,
      light-violet-blue:$light-violet-blue,
      red:$red,
      dark-grey:$dark-grey,
      alloy-orange:$alloy-orange,
      bottle-green:$bottle-green,
    ),
  ),
  "border-color": (
    property: border-color,
    class: border,
    values: (
      border-active: $blue-lotus-new,
      gray-blue: $gray-blue,
      border-blue: $border-blue,
      blue-active: $blue-active,
      border-white: $border-white,
      border-gray-white: $border-gray-white,
      border-light-gray: $border-light-gray,
      border-pink-light-color: $pink-light-color,
      border-watsapp-green: $watsapp-green,
      border-baby-purple: $baby-purple,
      border-red: $red,
    ),
  ),
  "custom-shadow": (
    property: box-shadow,
    class: shadow,
    values: (
      1: 0px 2px 4px rgba(0, 0, 0, 0.12),
      2: 0px 1px 11px rgba(0, 0, 0, 0.25),
      3: 0px 1px 3px rgba(116, 116, 116, 0.17),
      5: 0px 4px 23px rgba(0, 0, 0, 0.2),
      6: 0px 1px 5px rgba(0, 0, 0, 0.29),
      7: 0px 8px 16px rgba(0, 0, 0, 0.08),
      8: 0px 4px 16px rgba(0, 0, 0, 0.25),
      9: 0px 5px 14px rgba(64, 78, 93, 0.28),
      10: 0px 2px 4px 0px #0000001F,
      11: 0px 1px 5px rgba(0, 0, 0, 0.25),
      12: 0px 6px 12px rgba(0, 0, 0, 0.1),
      13:0px 2px 4px 0px rgba(0, 0, 0, 0.12),           
      14: 0px 3px 3px 0px rgba(64, 78, 94, 0.10),
      15: 0px 8px 19px 0px rgba(0, 0, 0, 0.25),

      common: 0px 1px 5px 0px rgba(0, 0, 0, 0.41),
      component: 0px 1px 4px rgba(0, 0, 0, 0.4),
      popover: 2px 3px 10px #12121275,
      component-msg: 0px 5px 9px rgba(64, 78, 94, 0.34),
      drag: 0px 5px 14px rgba(64, 78, 93, 0.28),
      component-show: 0px 3px 3px rgba(64, 78, 94, 0.1),
      top:0px 2px 4px 0px #0000001F,
      
    ),
  ),
  "viewport-height": (
    property: height,
    responsive: true,
    class: vh,
    values: (
      100: 100vh,
      auto: auto,
    ),
  ),
  "custom-viewport-height": (
    property: height,
    class: vh,
    values: (
      screen: calc(100vh - 100px),
    ),
  ),
  "custom-position": (
    property: position,
    values: static relative absolute fixed sticky,
  ),
  "start": (
    property: left,
    class: start,
    values: (
      25: 25%,
    ),
  ),
);
